/*Document/General*/

html, body {
  margin:0px;
  padding: 0px;
  height: 100%;
}

/*Header*/

.header {
  height: 150px;
  text-align: center;
  background-color: #F4DEB5;
}

.header h1 {
  line-height: 125px;
  font-size: 60px;
}


/*Main*/
.container-fluid {
  padding:0px;
  height:100%;
  background-color: #E6E6E6;
  overflow: auto;
}

/*Sidebar*/

.side {
  margin-top:20px;
  margin-left: 10px;
  padding-top: 20px;
  background-color: #90BB90;
  float:left;
  position:absolute;
  height:450px;
}

.side h4 {
  color: #F4DEB5;
}

@media (max-width: 850px) {
  .side {
    position:relative;
    height:300px;
    width:100%;
    text-align: center;
  }
  .lets-play {
    text-align: left;
    width:100%;
  }
}

/*lets-play*/

.lets-play {
  padding-left: 50px;
  float:right;
  position: relative;
}


/*result*/

#result {
  display: none;
}
